# Preprocessing in skealrn

In [2]:
import sklearn.preprocessing as preprocess
import pandas as pd
import numpy as np

## label Encoding:

In [3]:
# make data set:
data = {'Defult form': ['low', 'mid', "high", 'low', 'mid', "high", 'low', 'mid', "high"]}
df = pd.DataFrame(data)
LE = preprocess.LabelEncoder()
df['LE form'] = LE.fit_transform(df['Defult form'])
print(df)

  Defult form  LE form
0         low        1
1         mid        2
2        high        0
3         low        1
4         mid        2
5        high        0
6         low        1
7         mid        2
8        high        0

see the inverse form:

In [4]:
LE.inverse_transform([0,1,2])

array(['high', 'low', 'mid'], dtype=object)

tip: One hot Encoding in pandos

## Normalize:

### Range transformation: (MinMaxScaler)

In [13]:
# make data set:
data = {'Defult form': np.random.randint(low=0, high=5, size=20)}
df = pd.DataFrame(data)

MMS = preprocess.MinMaxScaler()
df['Normalize_MMS'] = MMS.fit_transform(df)
df

    Defult form  Normalize_MMS
0             3           0.75
1             1           0.25
2             3           0.75
3             3           0.75
4             3           0.75
5             2           0.50
6             0           0.00
7             0           0.00
8             2           0.50
9             3           0.75
10            2           0.50
11            3           0.75
12            2           0.50
13            1           0.25
14            4           1.00
15            3           0.75
16            0           0.00
17            4           1.00
18            3           0.75
19            1           0.25

### z transformation: (StandardScaler())

In [75]:
SS = preprocess.StandardScaler()
df_norm = SS.fit_transform(df)
df_norm = pd.DataFrame(df_norm, columns=['Normalaize_SS', 'Normalize_MMS'])
df_norm = df_norm.drop('Normalize_MMS', axis=1)
df_norm

    Normalaize_SS
0        0.687746
1       -0.930480
2        0.687746
3        0.687746
4        0.687746
5       -0.121367
6       -1.739594
7       -1.739594
8       -0.121367
9        0.687746
10      -0.121367
11       0.687746
12      -0.121367
13      -0.930480
14       1.496860
15       0.687746
16      -1.739594
17       1.496860
18       0.687746
19      -0.930480